body{
    font-family: 'Roboto', sans-serif;
    color: #353535;
}
#controlContainer{
    position: fixed;
    top: 0px;
    right: -320px;
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    background: #afaeae;
    width: 300px;
    height: calc(100% - 20px);
}
.buttonContainer{
    display: block;
    width: 244px;
    background-position-x: 30px;
    float: right;
    clear: both;
    margin-bottom: 20px;
    text-align: center;
    margin-right: 34px;
}
.settingsContainer{
    height: 44px;
    width: 44px;
    margin-right: 10px;
    cursor: pointer;
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 10;
}
.settingsTitle{
    font-weight: 900;
    font-size: 39px;
    text-transform: uppercase;
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 20px;
}
#controlContainer a{
    text-decoration: none;
    color: #555;
}
.logoutLink{
    float: right;
    /* text-transform: uppercase; */
    font-weight: 100;
    font-size: 17px;
    /* margin-right: 206px; */
    font-style: italic;
    position: absolute;
    bottom: 10px;
    right: 34px;
    cursor: pointer;
}
.button{
    padding: 7px 17px;
    font-weight: 900;
    font-size: 21px;
    text-transform: uppercase;
    cursor: pointer;
    color: #fff;
    border: 3px solid #353535;
    background: #353535;
    opacity: 0;
}
.button.disabled{
    background: #fff;
    color: #353535;
}
.name.button{
    color: white;
}
.name.button.disabled{
    background: #fff;
}
.nat.button{
    background: #febe10;
    border: 3px solid #febe10;
}
.ben.button{
    background: #f36b21;
    border: 3px solid #f36b21;
}
.nat.button.disabled{
    color: #febe10;
}
.ben.button.disabled{
    color: #f36b21;
}








body.errorPage{
    background: #ececec;
}
.errorContainer{
    width: 400px;
    margin: 0 auto;
    margin-top: 100px;
    font-size: 30px;
}
.errorContainer a{
    color: #1696d2;
    text-decoration: none;
    font-style: italic;
}
.returnLogin{
    margin-top: 20px;
}

.loginPage form{
    width: 210px;
    margin: 0 auto;
    margin-top: 70px;
}
.loginPage input{
font-size: 22px;
    padding: 4px 10px;
}
.loginButton{
    border-radius: 0px;
    text-transform: uppercase;
    font-size: 22px;
    font-weight: 700;
    background: #d2d2d2;
    cursor: pointer;
    border: none;
    float: right;
    margin-right: -24px;
}
.loginButton:hover{
    background: #1696d2;
    color: #fff;
}